*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* 全域字體 */
body {
  font-size: 16px;
  line-height: 1.5;
}


