footer {
  padding: 48px 12px 32px;
  background-color: $red;
  color: $light;

  @media (max-width: 767px) {
    padding: 24px 12px 24px;
  }

  a {
    color: $light;
  }

  .footer-container {
    max-width: 1320px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 32px;
    border-bottom: 1px solid $light;

    @media (max-width: 767px) {
      padding-bottom: 24px;
    }
  }

  .Contact-box {
    ul {
      display: flex;

      @media (max-width: 767px) {
        display: none;
      }
    }

    li {
      margin-right: 48px;
      margin-bottom: 36px;
      height: 48px;
      display: flex;
      align-items: center;

      @media (max-width: 992px) {
        margin-bottom: 32px;
      }
    }
  }

  .contact-info {
    a {
      display: flex;
      font-size: 36px;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    .bi-telephone {
      margin-right: 22px;
      margin-bottom: 8px;

      @media (max-width: 767px) {
        margin-right: 11px;
      }
    }

    .bi-envelope {
      margin-right: 20px;

      @media (max-width: 767px) {
        margin-right: 10px;
      }
    }
  }

  .social-link {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 32px;

        @media (max-width: 992px) {
          margin-right: 16px;
        }

        @media (max-width: 767px) {
          margin-right: 8px;
        }
      }
    }
    a {
      display: block;
      width: 48px;

      @media (max-width: 992px) {
        width: 40px;
      }

      @media (max-width: 767px) {
        width: 24px;
      }
    }
  }

  .contact {
    padding: 32px 0;

    a {
      color: $light;
      font-size: 36px;

      .bi-telephone {
        margin-right: 22px;
        margin-bottom: 8px;
      }

      .bi-envelope {
        margin-right: 20px;
      }
    }
  }

  .policy {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

    @media (max-width: 767px) {
      display: block;
    }

    p {
      @media (max-width: 767px) {
        margin-bottom: 8px;
      }
    }

    ul {
      display: flex;
      @media (max-width: 767px) {
        display: block;
      }
    }

    li {
      a {
        font-size: 14px;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }

      &:not(:last-child) {
        margin-right: 48px;
      }

      @media (max-width: 767px) {
        margin-bottom: 8px;
      }
    }
  }
}
